/***** general form markup *****/

/* TODO: The .text/.submit classes should be removed */

input.text, input.submit, input[type=text], input[type=password], input[type=email], input[type=button], input[type=submit], select, textarea, button {
    background-color: var(--boxbg);
    color: var(--maintext);
    border: 1px solid var(--secborder);
    font: 14px "Tahoma", "Arial", sans-serif;
    padding: 1px;
    margin: 1px;
    &:hover, &:focus { background-color: var(--secbg) }
}
input.submit, input[type=submit], input[type=button], button, select { padding: 1px 5px; cursor: pointer }
form, fieldset           { border: 0; display: block }
select[multiple] option  {
    &                    { background: inherit; padding-left: 12px; position: relative }
    &:checked:before     { position: absolute; left: 0; top: 0; content: '✓' }
}
optgroup option          { padding-left: 10px }
button                   { text-align: left }
button svg               { height: 14px; width: 14px; margin-top: 1px; margin-bottom: -1px }
button.ds                { padding-right: 20px; position: relative }
button.ds svg            { position: absolute; top: 3px; right: 1px }
input.obscured           { color: transparent; text-shadow: 0 0 8px var(--maintext); }
input[type=number]       { -moz-appearance:textfield }
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0 }
input[type=color]        { width: 30px; height: 21px }
input[type=checkbox], input[type=radio] {
    appearance: none; width: 15px; height: 15px; position: relative; top: 2px; margin-bottom: -1px; border: 2px solid var(--border);
    &:focus { outline: 1px dotted #fff }
    &:checked::before {
        content: '';
        display: block; width: 80%; height: 80%;
        position: relative; top: 10%; left: 10%;
        background-color: var(--maintext);
        /* Path from https://moderncss.dev/pure-css-custom-checkbox-style/ */
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    }
}
input[type=radio] { border-radius: 50% }

/* Only used on js/graph/vn.js for now.
 * Based on https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/ */
input[type=range] {
    -webkit-appearance: none;
    width: 200px;
    height: 14px;
    margin: 1px;
    background: transparent;
    &::-webkit-slider-thumb, &::-moz-range-thumb {
        -webkit-appearance: none;
        width: 14px;
        height: 14px;
        border-radius: 7px;
        background: var(--maintext);
        cursor: pointer;
    }
    &::-webkit-slider-runnable-track, &::-moz-range-track {
        width: 100%;
        height: 4px;
        background: var(--grayedout);
        cursor: pointer;
    }
}



fieldset.form {
    margin-left: 140px; margin-bottom: 20px;
    > fieldset { margin-bottom: 5px }
    > fieldset:disabled > label { color: var(--grayedout) }
    > legend { margin-left: -130px; margin-bottom: 5px; font-weight: bold }
    > label:not(.check), > fieldset > label:not(.check) { display: block; float: left; margin-left: -130px; width: 130px }
    table.full, fieldset.full { margin-left: -130px }
    .xw { width: 100%; max-width: 500px } /* for long inputs */
    .lw { width: 100%; max-width: 300px } /* for slightly longer inputs */
    .mw { width: 100%; max-width: 200px } /* for most inputs */
    .sw { width: 50px }                   /* for shorter inputs, like numbers */
    td {
        padding: 1px 15px 1px 0px; line-height: 1.8;
        p { line-height: normal }
        .xw { width: 500px }
        .lw { width: 300px }
        .mw { width: 200px }
        .sw { width: 50px }
    }
    table { margin-bottom: 5px }
    p + table { margin-top: 5px }
    tr.invalid { background: var(--warnbg)!important }
    a.help {
        border: none; margin-left: 3px; color: var(--helpbutton, var(--link));
        svg { width: 16px; height: 16px; margin-bottom: -2px }
    }
    section.help {
        margin: -3px 0 5px -130px;
        max-width: 700px;
        background-color: var(--noticebg); border: 1px solid var(--noticeborder);
        position: relative; padding: 5px;
        > a:first-child {
            float: right; margin-top: -4px; margin-right: -4px;
            text-decoration: none; color: var(--maintext);
            svg { width: 18px; height: 18px; border: none; }
            &:hover { border: none }
        }
        p + p, ul + p { padding-top: 10px }
        ul { padding-top: 5px }
        dl { margin: 10px 0; display: grid; grid-template-columns: auto 1fr; grid-gap: 3px 10px }
        dt { font-weight: bold }
    }
    .textpreview { max-width: 600px }
    .textpreview.full { max-width: 730px; margin-left: -130px }
    .release-animation td { width: 180px; line-height: normal }
}

p.invalid { display: none }
.formerror { display: none }

/* 'invalid-form' class is set on the parent <form> element after attempted
 * submission, so that error states and messages don't distract when working on
 * an empty form */
form.invalid-form {
    p.invalid { display: block; color: var(--standout) }
    input.invalid, textarea.invalid, button.invalid { border-color: var(--standout) }
    label.invalid { color: var(--standout) }
    .invalid-tab a { color: var(--standout) }
    .formerror { display: block; color: var(--standout) }
}

/* TODO: responsive form layout for mobile */


/* Form submit box, with optional edit summmary */
article.submit {
    text-align: center;
    > input[type=submit] { width: 150px }
    .textpreview, textarea { text-align: left; margin: 0 auto; width: 600px }
}



/* Format checkboxes and radio buttons as if they were normal links with unicode icons.
 * Usage:
 *
 *   <container class="linkradio">
 *     <input type="checkbox|radio" id="xyz">
 *     <label for="xyz">Text</label>
 *     <em>(optional option separator)</em>
 *   </container>
 *
 * TODO: Get rid of these and just use checkboxes/radio inputs.
 */
p.linkradio { padding: 2px }
.linkradio label { color: var(--link); cursor: pointer }
.linkradio label:before { content: '✗' }
.linkradio input { display: none }
.linkradio input:checked + label { color: var(--maintext) }
.linkradio input:checked + label:before { content: '✓' }
.linkradio input:focus + label { outline: 1px dotted var(--link) }
.linkradio input:focus:checked + label { outline: 1px dotted var(--maintext) }
.linkradio em { font-weight: normal; font-style: normal; color: var(--grayedout) }

/* Same styling, but for regular links.
 * Usage:
 *
 *   <a href="#" class="linkradio">Unchecked option</a>
 *   <a href="#" class="linkradio checked">Checked option</a>
 */
a.linkradio:before { content: '✗' }
a.linkradio.checked:before { content: '✓' }
a.checked { color: var(--maintext) }


/* Spinner, <div class="spinner"></div> for a large one, <span> for a smaller inline-text version */
.spinner { content: ''; border: 3px solid #9eaebd; border-bottom-color: transparent; border-radius: 100%; animation: spin 1s infinite linear; width: 16px; height: 16px; display: inline-block; margin: auto }
span.spinner { width: 1em; height: 1em }
@keyframes spin { from { transform:rotate(0deg); } to { transform:rotate(360deg); } }


.textpreview {
    > div:first-child {
        display: flex; justify-content: space-between; width: 100%; align-items: flex-end;
        > div:last-child > * { margin-left: 10px }
    }
    textarea { width: 100%; }
    .preview { width: 100%; border: 1px solid var(--secborder); margin: 1px; padding: 5px }
}


/* .compact input elements are smaller and can be embedded in tables/inline text
 * .stealth input elements pretend to be just regular text, but turn into visibile input elements on mouse-over */
.compact {
    input.text, input[type=text], select, textarea { margin: -2px -1px }
    input.submit, input[type=submit], button { margin: -2px -1px }
}
.stealth {
    input, select, button { font: inherit; background: none; border: 1px solid transparent; -moz-appearance: none; -webkit-appearance: none; appearance: none }
    input:hover, input:focus,
    select:hover, select:focus { border: 1px solid var(--secborder); background: var(--secbg) }
    button svg { visibility: hidden }
    button:hover svg { visibility: visible }
}


/***** JS dropdown (ds.js) *****/

#ds {
    position: absolute; z-index: 100; background: var(--secbg); border: 1px solid var(--secborder);
    > div:first-child { /* header (fixed height) */
        > div.search { /* search input */
            display: flex;
            > div:first-child {
                flex: 1; position: relative;
                input { width: 100%; outline: none; border-right: none; border-left: none; margin: 0; padding: 2px }
                span { position: absolute; top: 4px; right: 5px }
                svg { width: 14px; height: 14px }
            }
        }
        > div:first-child.search > div:first-child > input { border-top: none } /* when the search input is the first item */
    }
    > div:last-child { /* results (variable height) */
        overflow-x: hidden; overflow-y: scroll; width: 100%; position: relative;
        > ul {
            margin: 0; list-style-type: none; width: 100%; height: 100%;
            > li {
                text-indent: 20px hanging; cursor: pointer; padding: 3px 3px 3px 3px;
                > span:first-child { display: inline-block; width: 1em; visibility: hidden }
                &.active {
                    background: var(--boxbg);
                    > span:first-child { visibility: visible }
                }
                &.unselectable {
                    color: var(--grayedout);
                    > span:first-child { visibility: visible }
                }
            }
        }
    }
    p { padding: 5px } /* Used in xsearch headers */
}
