body { display: flex; padding: 169px 0 30px 0 }

/* <article> is our generic tag for a tile or box */
article { border: 1px solid var(--border); background: var(--boxbg) }


/* Header */

body > header {
    h1 {
        position: absolute; top: 80px; width: 100%; max-width: 770px; padding: 0 30px; text-align: right;
        font: bold italic 24px "Futura", "Century New Gothic", "Arial", Serif; color: var(--maintitle);
        a { color: inherit; border-bottom: none }
        a:hover { border-bottom: none }
    }
}
#bgright { position: absolute; top: 0px; right: 0px }
#readonlymode { /* TODO TEST */
    position: absolute; top: 0px; left: 0px; width: 100%;
    text-align: center; padding: 3px;
    background: var(--warnbg); border-bottom: 1px solid var(--warnborder);
}




/* Main navigation */

body > nav {
    flex: 0 0 160px; margin: 21px 0 0 30px;
    article       { margin: 0 0 10px 0 }
    article div   { padding: 2px 7px }
    a             { color: var(--maintext) }
    a:hover       { border-bottom: 1px dotted var(--maintext); }
    h2            { border-bottom: 1px solid var(--border); background: var(--boxbg); padding: 1px 3px; }
    input.text    { width: 145px; margin: 0 0 3px 7px }
    .notifyget    { display: inline-block; width: 135px; padding: 4px; background: var(--warnbg); border: 1px solid var(--warnborder); }
    .logout       { border: 0; border-bottom: 1px solid transparent; background: none; cursor: pointer }
    .logout:hover { border-bottom: 1px dotted var(--maintext) }

    dl            { display: flex; flex-wrap: wrap }
    dt            { width: 60%; font-style: italic }
    dd            { width: 40%; text-align: right }
}

#support { background: var(--boxbg); font-size: 92%; padding: 4px; margin-bottom: 5px; text-align: center }
#support p { display: flex; justify-content: space-between }




/* Main content boxes */

main {
    flex: 1; min-width: 0px; padding: 0 30px 50px 10px;
    h1, h2      { font-family: "Futura", "Century New Gothic", "Arial", serif; }
    h1          { color: var(--boxtitle); font-size: 24px; font-weight: normal; margin: -5px 0 15px 0 }
    h2.alttitle { color: var(--alttitle); font-size: 120%; font-weight: normal; margin: -17px 0 15px 15px }
    article     {
        margin: 21px 0 -10px 0; padding: 5px;
        &.browse {
            padding: 0;
            > table { width: 100% }
        }
        &.overflow-hack { overflow: hidden; width: 100% }
        &.relgraph { float: left; min-width: 100% }
    }
}


.threelayout {
    display: flex; gap: 10px;
    article { flex: 1 1 0; padding: 0 2px 10px 2px; min-width: 30% }
    h1      { margin: 0; font-size: 18px; font-weight: bold; color: var(--boxtitle) }
    a.right { float: right; }
    ul      { list-style-type: none; margin-left: 10px; }
    h1 a    { color: inherit }
}
@media (max-width:  900px) {
    .threelayout { flex-wrap: wrap }
    .threelayout article { min-width: 90% }
}



main > footer {
    margin: 15px auto 0 auto; text-align: center; color: var(--footer);
    a { color: inherit; text-decoration: underline }
}
