/* We reserve some tags for layouting:
 * - <article> always represents a box
 * - <nav> is reserved for either the main menu (top-level tag) or tabs (otherwise)
 * - <main> - there can only be one in a valid document anyway
 *
 * Any other tags should still be re-usable (and unstyled) inside <article>.
 */
body {
    display: grid;
    grid-template-columns: 170px minmax(0, 1fr);
    grid-template-rows: 189px auto;
    padding: 0 30px 30px 30px;
}

article { border: 1px solid var(--border); background: var(--boxbg) }


/* Header */

body > header {
    grid-area: 1/1/2/3;
    display: flex; flex-direction: column;
    h1 {
        flex: 1; display: flex; align-items: center; justify-content: flex-end;
        padding-right: unquote('max(30px, calc(100% - 700px))'); padding-top: 30px;
        font: bold italic 24px "Futura", "Century New Gothic", "Arial", Serif; color: var(--maintitle);
        a { color: inherit; border-bottom: none }
        a:hover { border-bottom: none }
    }
    nav > label { display: block; border: 1px solid var(--border); background: var(--boxbg); cursor: pointer; padding: 3px 15px; margin: 0 10px 10px 0; visibility: hidden }
}
#bgright { position: absolute; top: 0px; right: 0px; z-index: -10 }
#readonlymode {
    position: absolute; top: 0px; left: 0px; width: 100%;
    text-align: center; padding: 3px;
    background: var(--warnbg); border-bottom: 1px solid var(--warnborder);
}




/* Main navigation */

body > nav {
    grid-area: 2/1/3/2;
    margin-right: 10px;
    article       { margin: 0 0 10px 0 }
    article div   { padding: 2px 7px }
    form          { padding: 0 7px 3px 6px }
    a             { color: var(--maintext) }
    a:hover       { border-bottom: 1px dotted var(--maintext); }
    h2            { border-bottom: 1px solid var(--border); background: var(--boxbg); padding: 1px 3px; }
    input.text    { width: 100% }
    .notifyget    { display: inline-block; width: 95%; padding: 4px; background: var(--warnbg); border: 1px solid var(--warnborder); }
    .logout       { border: 0; border-bottom: 1px solid transparent; background: none; cursor: pointer }
    .logout:hover { border-bottom: 1px dotted var(--maintext) }

    dl            { display: flex; flex-wrap: wrap }
    dt            { width: 60%; font-style: italic }
    dd            { width: 40%; text-align: right }
}

#support { background: var(--boxbg); font-size: 92%; padding: 4px; margin-bottom: 5px; text-align: center }
#support p { display: flex; justify-content: space-between }



/* Main content boxes */

main {
    grid-area: 2 / 2 / 3 / 3;
    padding: 0 0 50px 0;
    h1, h2      { font-family: "Futura", "Century New Gothic", "Arial", serif; }
    h1          { color: var(--boxtitle); font-size: 24px; font-weight: normal; margin: -5px 0 15px 0 }
    h2.alttitle { color: var(--alttitle); font-size: 120%; font-weight: normal; margin: -17px 0 15px 15px }

    /* Box */
    article {
        margin-bottom: 10px; padding: 5px;
        &.browse {
            padding: 0;
            > table { width: 100% }
        }
        &.overflow-hack { overflow: hidden; width: 100% }
        &.relgraph { float: left; min-width: 100% }
    }
}

/* Tabs */
body > * nav {
    display: flex; justify-content: space-between; align-items: flex-end;
    &.right { justify-content: flex-end; }

    > menu > li {
        display: inline-block;
        &:not(:first-child) { margin: 0 0 0 10px }
        > a { display: inline-block; height: 21px; padding: 1px 7px 0 7px; border: 1px solid var(--border); border-bottom: none; background-color: var(--tabbg); color: var(--grayedout); position: relative }
        > a:hover { border-bottom: none }
        &.tabselected > a, > a:hover { background: var(--blendbg); color: var(--maintext); height: 22px; margin-bottom: -1px; }
        > a.highlightselected { background: var(--secbg); color: var(--maintext); height: 22px; margin-bottom: -1px }
        > a > svg { margin-top: 2px; margin-bottom: -2px }
    }
    .browsetabs > li {
        > a { color: inherit }
        &:not(:first-child) { margin-left: 5px }
    }
    &.bottom {
        margin: -10px 0 10px 0; align-items: flex-start;
        > menu {
            > li {
                > a { padding: 4px 7px 2px 7px; border-bottom: 1px solid var(--border); border-top: none }
                &.tabselected > a, > a:hover { padding-top: 5px; height: 22px; margin-top: -1px }
            }
        }
    }
    .ellipsis { font-weight: bold; height: 19px }

    > h1 {
        font-size: 17px; color: var(--grayedout); margin: 0;
        a { color: inherit }
    }
}

.threelayout {
    display: flex; column-gap: 10px;
    article { flex: 1 1 0; padding: 0 2px 10px 2px; min-width: 30% }
    h1      { margin: 0; font-size: 18px; font-weight: bold; color: var(--boxtitle) }
    a.right { float: right; }
    ul      { list-style-type: none; margin-left: 10px; }
    h1 a    { color: inherit }
}
@media (max-width:  900px) {
    .threelayout { flex-wrap: wrap }
    .threelayout article { min-width: 90% }
}

.summarize_more { height: 20px; margin: -11px 0 11px 0; border: 1px solid var(--border); border-top: none; background: var(--boxbg); text-align: center }



/* Mobile view */

@media (max-width: 800px) {
    #mainmenu:not(:checked) ~ nav { display: none }
    #mainmenu:not(:checked) ~ main { grid-area: 2/1/3/3; }
    body { padding: 0 10px; }
    #bgright { display: none /* XXX: This is theme-specific */ }
    body > header nav > label { visibility: visible }
}




main > footer {
    margin: -7px auto 0 auto; text-align: center; color: var(--footer);
    a { color: inherit; text-decoration: underline }
}
