body { display: flex; padding: 169px 0 30px 0 }

/* <article> is our generic tag for a tile or box */
article { border: 1px solid var(--border); background: var(--boxbg) }


/* Header */

body > header {
    h1 {
        position: absolute; top: 80px; width: 100%; max-width: 770px; padding: 0 30px; text-align: right;
        font: bold italic 24px "Futura", "Century New Gothic", "Arial", Serif; color: var(--maintitle);
        a { color: inherit; border-bottom: none }
        a:hover { border-bottom: none }
    }
}
header nav { display: none }
#bgright { position: absolute; top: 0px; right: 0px }
#readonlymode { /* TODO TEST */
    position: absolute; top: 0px; left: 0px; width: 100%;
    text-align: center; padding: 3px;
    background: var(--warnbg); border-bottom: 1px solid var(--warnborder);
}




/* Main navigation */

body > nav {
    flex: 0 0 160px; margin: 21px 0 0 30px;
    article       { margin: 0 0 10px 0 }
    article div   { padding: 2px 7px }
    a             { color: var(--maintext) }
    a:hover       { border-bottom: 1px dotted var(--maintext); }
    h2            { border-bottom: 1px solid var(--border); background: var(--boxbg); padding: 1px 3px; }
    input.text    { width: 145px; margin: 0 0 3px 7px }
    .notifyget    { display: inline-block; width: 135px; padding: 4px; background: var(--warnbg); border: 1px solid var(--warnborder); }
    .logout       { border: 0; border-bottom: 1px solid transparent; background: none; cursor: pointer }
    .logout:hover { border-bottom: 1px dotted var(--maintext) }

    dl            { display: flex; flex-wrap: wrap }
    dt            { width: 60%; font-style: italic }
    dd            { width: 40%; text-align: right }
}

#support { background: var(--boxbg); font-size: 92%; padding: 4px; margin-bottom: 5px; text-align: center }
#support p { display: flex; justify-content: space-between }



/* Main content boxes */

main {
    flex: 1; min-width: 0px; padding: 0 30px 50px 10px;
    h1, h2      { font-family: "Futura", "Century New Gothic", "Arial", serif; }
    h1          { color: var(--boxtitle); font-size: 24px; font-weight: normal; margin: -5px 0 15px 0 }
    h2.alttitle { color: var(--alttitle); font-size: 120%; font-weight: normal; margin: -17px 0 15px 15px }

    /* Box */
    article {
        margin-top: 10px; padding: 5px;
        &.browse {
            padding: 0;
            > table { width: 100% }
        }
        &.overflow-hack { overflow: hidden; width: 100% }
        &.relgraph { float: left; min-width: 100% }
    }
    > article:first-child, > form:first-child > article:first-child { margin-top: 21px; }

    /* Tabs */
    > nav, > form > nav, > form > fieldset > nav {
        display: flex; justify-content: space-between; margin: 10px 0 -10px 0; align-items: flex-end;
        &.right { justify-content: flex-end; }

        > menu > li {
            display: inline-block;
            &:not(:first-child) { margin: 0 0 0 10px }
            > a { display: inline-block; height: 21px; padding: 1px 7px 0 7px; border: 1px solid var(--border); border-bottom: none; background-color: var(--tabbg); color: var(--grayedout); }
            > a:hover { border-bottom: none }
            &.tabselected > a, > a:hover { background: var(--blendbg); color: var(--maintext); height: 22px; margin-bottom: -1px; }
            > a.highlightselected { background: var(--secbg); color: var(--maintext); height: 22px; margin-bottom: -1px }
            > a > svg { margin-top: 2px; margin-bottom: -2px }
        }
        .browsetabs > li {
            > a { color: inherit }
            &:not(:first-child) { margin-left: 5px }
        }
        &.bottom {
            margin: 0; align-items: flex-start;
            > menu {
                > li {
                    > a { padding: 4px 7px 2px 7px; border-bottom: 1px solid var(--border); border-top: none }
                    &.tabselected > a, > a:hover { padding-top: 5px; height: 22px; margin-top: -1px }
                }
            }
        }
        .ellipsis { font-weight: bold; height: 19px }

        > h1 {
            font-size: 17px; color: var(--grayedout); margin: 0;
            a { color: inherit }
        }
    }
    > nav:first-child, > form:first-child > nav:first-child, > form:first-child > fieldset:first-child > nav:first-child { margin-top: 0 }
}

.threelayout {
    display: flex; gap: 10px;
    article { flex: 1 1 0; padding: 0 2px 10px 2px; min-width: 30% }
    h1      { margin: 0; font-size: 18px; font-weight: bold; color: var(--boxtitle) }
    a.right { float: right; }
    ul      { list-style-type: none; margin-left: 10px; }
    h1 a    { color: inherit }
}
@media (max-width:  900px) {
    .threelayout { flex-wrap: wrap }
    .threelayout article { min-width: 90% }
}

.summarize_more { height: 20px; margin-top: -1px; border: 1px solid var(--border); border-top: none; background: var(--boxbg); text-align: center }



/* Mobile view */

@media (max-width: 800px) {
    #mainmenu:not(:checked) ~ nav { display: none }
    body > nav { margin-left: 10px }
    main { padding-right: 10px }
    #bgright { display: none /* XXX: This is theme-specific */ }
    header nav {
        display: block;
        label { display: block; border: 1px solid var(--border); background: var(--boxbg); cursor: pointer; padding: 3px 15px; position: absolute; top: 155px; left: 10px }
    }
}




main > footer {
    margin: 0 auto; text-align: center; color: var(--footer);
    a { color: inherit; text-decoration: underline }
}
