/* Styles js/graph/vn.js */
#vn-graph {
    > div { /* options div */
        width: 100%;
        padding-top: 2px;
        display: flex;
        justify-content: space-between;
        > small { font-size: 80% }
    }
    > svg { /* the graph */
        width: 100%;
        .edges line {
            stroke-width: 5;
            stroke: var(--grayedout);
        }
        .nodes circle {
            fill: var(--maintext);
            &.selected {
                fill: var(--standout);
            }
        }
    }
}
