/data/conf.pl
/data/docker-pg
/data/icons/icons.css
/data/log/
/data/multi.pid
/data/passwords.dat
/elm/elm-stuff/
/elm/Gen/
/static/f/js/
/static/f/icons.png
/static/f/icons.opt.png
/static/f/vndb.js
/static/f/vndb.min.js
/static/f/vndb.min.js.gz
/static/f/elm.js
/static/f/elm.min.js
/static/f/elm.min.js.gz
/static/f/plain.js
/static/f/plain.min.js
/static/f/plain.min.js.gz
/static/s/*/style.css
/static/s/*/style.min.css
/static/s/*/style.min.css.gz
/static/s/*/boxbg.png
/static/ch
/static/cv
/static/sf
/static/st
/static/robots.txt
/static/api
/sql/editfunc.sql
/www/
*.swp
*.o
*.so
*.dll
*.bc
