/data/conf.pl
/data/docker-pg
/data/log/
/data/multi.pid
/data/hibp/
/dl/tmp
/dl/img
/dl/dump
/elm/elm-stuff/
/elm/Gen/
/js/.gen/
/static/g
/static/ch
/static/cv
/static/sf
/static/st
/static/robots.txt
/static/api
/sql/editfunc.sql
/www/
*.swp
*.o
*.so
*.dll
*.bc
