// userid: u51  name: EIeL (peach-orange)

// A skin made using an image I had for a long time without knowing it's source,
// thankfully this skin finally brought out the answer that it was from Jingai Makyo.
//
// ...turns out it isn't from Jingai Makyo after all. https://vndb.org/t16934
//
// created: 24/01/2009 by echomateria

$bodybg:       #fdd298
$boxbg:        #36214299

html
  --maintext:     #f8cb8a
  --grayedout:    #f26a7e
  --standout:     #ff435f
  --link:         #ffffff
  --statok:       #ffcbee
  --statnok:      #ff435f
  --footer:       #362142
  --maintitle:    #676082
  --boxtitle:     #ffcbee
  --alttitle:     #f26a7e
  --bodybg:       #{$bodybg}
  --boxbg:        #{$boxbg}
  --tabbg:        #5a3a49
  --secbg:        #584563
  --secborder:    #c42b5a
  --border:       #362142
  --diffadd:      #2bc88b
  --diffdel:      #ca4a4d
  --warnbg:       #c42b5a
  --warnborder:   #f8cb8a
  --noticebg:     #b48ab2
  --noticeborder: #f8cb8a

body
  background: var(--bodybg) url(/s/eiel-bg.jpg) no-repeat

@import 'css/blendbg'
@import 'css/v2'
