// userid: u93  name: Little Busters! (pink)

$bodybg:       #fff
$boxbg:        #f7b6edcc

html
  --maintext:     #408
  --grayedout:    #670159
  --standout:     #e44
  --link:         #a2d
  --statok:       #0c0
  --statnok:      #c00
  --footer:       #f76ee2
  --maintitle:    #f78de7
  --boxtitle:     #670159
  --alttitle:     #5328a7
  --bodybg:       #{$bodybg}
  --boxbg:        #{$boxbg}
  --tabbg:        #f78de7
  --secbg:        #f78de7
  --secborder:    #670159
  --border:       #f76ee2
  --diffadd:      #cfc
  --diffdel:      #fcc
  --warnbg:       #fff
  --warnborder:   #c00
  --noticebg:     #f7b6ed
  --noticeborder: #670159

body
  background: var(--bodybg) url(/s/lb-bg.jpg) no-repeat

#bgright
  display: none

@import 'css/blendbg'
@import 'css/v2'
