// userid: u93  name: Neon (black)

$bodybg:       #000
$boxbg:        #000

html
  --maintext:     #0f0
  --grayedout:    #aaa
  --standout:     #f00
  --link:         #ff0
  --statok:       #0c0
  --statnok:      #c00
  --footer:       #fff
  --maintitle:    #0f0
  --boxtitle:     #0f0
  --alttitle:     #0f0
  --bodybg:       #{$bodybg}
  --boxbg:        #{$boxbg}
  --tabbg:        #000
  --secbg:        #000
  --secborder:    #0f0
  --border:       #fff
  --diffadd:      #cfc
  --diffdel:      #fcc
  --warnbg:       #000
  --warnborder:   #c00
  --noticebg:     #000
  --noticeborder: #0f0

body
  background-color: var(--bodybg)

#bgright
  display: none

@import 'css/blendbg'
@import 'css/v2'
